<div class="input-wrapper">
  <div class="input-shadow"></div>
  {{input value=model.content}}
</div>
CPS: {{model.history.CPS}}
{{zen-circle modifier=charactersPerSecond target=model.history.targetCPS}}
