<div class="header-container container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <h1 id='title'>{{link-to 'Indelible' 'index'}}</h1>
  </nav>
</div>

<div class="container">
  {{outlet}}
</div>
